<!DOCTYPE html>
<html ng-app="loginApp">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link href="scripts/bootstrap.css" rel="stylesheet">
    <!-- <style type="text/css">
    [ng\:cloak], [ng-cloak], .ng-cloak {
      display: none !important;
    }
    </style> -->
</head>

<body>

<div class="container" ng-controller="loginctrl">
    <ul class="nav nav-pills" role="tablist">
        <li class="active"><a href="/">home</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="" ng-click="logout()">logout</a></li>
    </ul>
</div>
<div ui-view class="container"></div>

<script src="scripts/angular.min.js"></script>
<script src="scripts/jquery.min.js" type="text/javascript"></script>
<script src="scripts/bootstrap.min.js"></script>
<script src="scripts/ui-bootstrap.min.js"></script>
<script src="scripts/angular-ui-router.min.js"></script>
<script src="js/login.js"></script>
</body>
</html>